<h2 mat-dialog-title>{{this.data.caption}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field style="width: 100%; height: 240px;">
    <mat-label>Eudr-Validieren Meldungen</mat-label>
    <textarea matInput [(ngModel)]="this.message" style="height: 210px;" readonly></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="validateEudr()" [disabled]="checkIfDisabledImport()">Validieren</button>
  <button mat-raised-button mat-dialog-close cdkFocusInitial (click)="this.dialogRef.close(false)">Schließen</button>
</mat-dialog-actions>
