<div class="home-container">
  <div class="header">
    <h1>FF Verwaltung</h1>
    <p>Willkommen im FF-Management-System</p>
  </div>

  <div class="columns-container">
    <div class="column clickable" (click)="navTo('fahrzeuge')">
      <div class="column-header">
        <h2>Fahrzeuge</h2>
      </div>
      <div class="column-content">
        <p>Verwalten der Fahrzeuge und deren Informationen.</p>
        <ul>
          <li><img src="TLF.svg" alt="TLF" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">TLF verwalten</li>
          <li><img src="TLF.png" alt="KLF" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">KLF verwalten</li>
          <li><img src="TLF.png" alt="MTF" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">MTF verwalten</li>
          <li><img src="TLF.png" alt="QUAD" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">QUAD verwalten</li>
        </ul>
      </div>
      <!--<div class="action-buttons">
        <button mat-raised-button color="primary">
          Tour starten
        </button>
      </div>-->
    </div>

    <div class="column clickable" (click)="navTo('lieferungen')">
      <div class="column-header">
        <h2>Tätigkeiten</h2>
      </div>
      <div class="column-content">
        <p>Verwalten der Tätigkeiten/Übungen/....</p>
        <ul>
          <li><img src="TLF.png" alt="TLF" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">Tätigkeiten div</li>
        </ul>
      </div>
      <!--<div class="action-buttons">
        <button mat-raised-button color="primary">
          Tour starten
        </button>
      </div>-->
    </div>

    <div class="column clickable" (click)="navTo('lieferungen')">
      <div class="column-header">
        <h2>Einsätze</h2>
      </div>
      <div class="column-content">
        <p>Verwalten der Einsätzberichte</p>
        <ul>
          <li><img src="TLF.svg" alt="TLF" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">Tätigkeiten div</li>
        </ul>
      </div>
      <!--<div class="action-buttons">
        <button mat-raised-button color="primary">
          Tour starten
        </button>
      </div>-->
    </div>
  </div>
</div>
