<div class="home-container">
  <div class="header">
    <h1>FF Verwaltung</h1>
    <p>Willkommen im FF-Management-System</p>
  </div>

  <div class="columns-container">
    <div class="column clickable" >
      <div class="column-header" (click)="navTo('fahrzeuge')">
        <h2>Fahrzeuge</h2>
      </div>
      <div class="column-content">
        <p>Verwalten der Fahrzeuge und deren Informationen.</p>
        <ul>
          <li><a href="http://feuerwehr.bichler.tech:4200#vehicle-0" target="_blank" rel="noopener"><img src="TLF.svg" alt="TLF" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">TLF verwalten</a></li>
          <li><a href="http://feuerwehr.bichler.tech:4200#vehicle-1" target="_blank" rel="noopener"><img src="MTF.svg" alt="MTF" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">MTF verwalten</a></li>
          <li><a href="http://feuerwehr.bichler.tech:4200#vehicle-2" target="_blank" rel="noopener"><img src="KLF.svg" alt="KLF" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">KLF verwalten</a></li>
          <li><a href="http://feuerwehr.bichler.tech:4200#vehicle-3" target="_blank" rel="noopener"><img src="QUAD.svg" alt="QUAD" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">QUAD verwalten</a></li>
        </ul>
      </div>
      <!--<div class="action-buttons">
        <button mat-raised-button color="primary">
          Tour starten
        </button>
      </div>-->
    </div>

    <div class="column clickable">
      <div class="column-header" (click)="navTo('lieferungen')">
        <h2>Tätigkeiten</h2>
      </div>
      <div class="column-content">
        <p>Verwalten der Tätigkeiten/Übungen/....</p>
        <ul>
          <li><a href="http://feuerwehr.bichler.tech:4201" target="_blank" rel="noopener"><img src="Taetigkeiten.svg" alt="Tätigkeiten" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">Tätigkeiten div</a></li>
        </ul>
      </div>
      <!--<div class="action-buttons">
        <button mat-raised-button color="primary">
          Tour starten
        </button>
      </div>-->
    </div>

    <div class="column clickable" >
      <div class="column-header" (click)="navTo('lieferungen')">
        <h2>Einsätze</h2>
      </div>
      <div class="column-content">
        <p>Verwalten der Einsätzberichte</p>
        <ul>
          <li><a href="http://feuerwehr.bichler.tech:4202" target="_blank" rel="noopener"><img src="Einsaetze.svg" alt="Einsätze" style="width:200px;height:200px;vertical-align:middle;margin-right:8px;">Einsätze verwalten</a></li>
        </ul>
      </div>
      <!--<div class="action-buttons">
        <button mat-raised-button color="primary">
          Tour starten
        </button>
      </div>-->
    </div>
  </div>
</div>
